In [20]:
# Import Libraries
import json
import pandas as pd

In [26]:
# Read Csv. 
csv_file = r"C:\Users\Lenovo\Documents\olympic_medal_analysis\Olympic_Medal_Counts.csv"
medal_data = pd.read_csv(csv_file)
medal_data

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 4472: invalid start byte

In [22]:
# Read Csv. 
csv_file = r"C:\Users\Lenovo\Documents\olympic_medal_analysis\Resources\Clean_gdp_.csv"
gdp_data = pd.read_csv(csv_file)
gdp_data

            Entity Code  Year  GDP per capita
0      Afghanistan  AFG  1950         1156.00
1      Afghanistan  AFG  1951         1170.00
2      Afghanistan  AFG  1952         1189.00
3      Afghanistan  AFG  1953         1240.00
4      Afghanistan  AFG  1954         1245.00
...            ...  ...   ...             ...
19491     Zimbabwe  ZIM  2014         1594.00
19492     Zimbabwe  ZIM  2015         1560.00
19493     Zimbabwe  ZIM  2016         1534.00
19494     Zimbabwe  ZIM  2017         1582.37
19495     Zimbabwe  ZIM  2018         1611.41

[19496 rows x 4 columns]

In [24]:
# Read Csv. 
csv_file = r"C:\Users\Lenovo\Documents\olympic_medal_analysis\CSV_In_Progress\countries_preprocessed.csv"
latlog_data = pd.read_csv(csv_file)
latlog_data

                Country   Latitude   Longitude  NOC
0           Afghanistan  33.768006   66.238514  AFG
1               Albania  41.000028   19.999962  ALB
2               Algeria  28.000027    2.999983  ALG
3               Andorra  42.540717    1.573203  AND
4                Angola -11.877577   17.569124  ANG
..                  ...        ...         ...  ...
175           Venezuela   8.001871  -66.110932  VEN
176             Vietnam  13.290403  108.426511  VIE
177  West Bank and Gaza  31.433166   34.377929  PLE
178              Zambia -14.518624   27.559916  ZAM
179            Zimbabwe -18.455496   29.746841  ZIM

[180 rows x 4 columns]

In [25]:
# Read Csv. 
csv_file = r"C:\Users\Lenovo\Documents\olympic_medal_analysis\Clean_Country_population.csv"
country_pop = pd.read_csv(csv_file)
country_pop

       Primary Key Country Code  Country Name  Year  Population
0                1          ARU         Aruba  1960       54208
1                2          AFG   Afghanistan  1960     8996967
2                3          ANG        Angola  1960     5454938
3                4          ALB       Albania  1960     1608800
4                5          AND       Andorra  1960       13410
...            ...          ...           ...   ...         ...
12134        12135          KOS        Kosovo  2020     1775378
12135        12136          YEM         Yemen  2020    29825968
12136        12137          RSA  South Africa  2020    59308690
12137        12138          ZAM        Zambia  2020    18383956
12138        12139          ZIM      Zimbabwe  2020    14862927

[12139 rows x 5 columns]

In [9]:
current_pop = country_pop.loc[country_pop["Year"] == 2020]
current_pop

       Primary Key Country Code  Country Name  Year  Population
11940        11941          ARU         Aruba  2020      106766
11941        11942          AFG   Afghanistan  2020    38928341
11942        11943          ANG        Angola  2020    32866268
11943        11944          ALB       Albania  2020     2837743
11944        11945          AND       Andorra  2020       77265
...            ...          ...           ...   ...         ...
12134        12135          KOS        Kosovo  2020     1775378
12135        12136          YEM         Yemen  2020    29825968
12136        12137          RSA  South Africa  2020    59308690
12137        12138          ZAM        Zambia  2020    18383956
12138        12139          ZIM      Zimbabwe  2020    14862927

[199 rows x 5 columns]

In [10]:
# Convert Pandas Df to JSON
json_output = r"C:\Users\Lenovo\Documents\olympic_medal_analysis\Clean_Country_population.json"
output = current_pop.to_json(json_output, indent = 1)

In [12]:
# Read GDP Csv. 
csv_gdp = r"C:\Users\Lenovo\Documents\olympic_medal_analysis\Resources\Clean_gdp_.csv"
gdp_file = pd.read_csv(csv_gdp)
gdp_file

            Entity Code  Year  GDP per capita
0      Afghanistan  AFG  1950         1156.00
1      Afghanistan  AFG  1951         1170.00
2      Afghanistan  AFG  1952         1189.00
3      Afghanistan  AFG  1953         1240.00
4      Afghanistan  AFG  1954         1245.00
...            ...  ...   ...             ...
19491     Zimbabwe  ZIM  2014         1594.00
19492     Zimbabwe  ZIM  2015         1560.00
19493     Zimbabwe  ZIM  2016         1534.00
19494     Zimbabwe  ZIM  2017         1582.37
19495     Zimbabwe  ZIM  2018         1611.41

[19496 rows x 4 columns]

In [13]:
current_gdp = gdp_file.loc[gdp_file["Year"] == 2018]
current_gdp

            Entity      Code  Year  GDP per capita
68     Afghanistan       AFG  2018         1934.56
143        Albania       ALB  2018        11104.17
215        Algeria       ALG  2018        14228.03
284         Angola       ANG  2018         7771.44
433      Argentina       ARG  2018        18556.38
...            ...       ...   ...             ...
19272      Vietnam       VIE  2018         6814.14
19288        World  OWID_WRL  2018        15212.42
19357        Yemen       YEM  2018         2284.89
19426       Zambia       ZAM  2018         3534.03
19495     Zimbabwe       ZIM  2018         1611.41

[168 rows x 4 columns]

In [14]:
# Convert Pandas Df to JSON
gdp_json_output = r"C:\Users\Lenovo\Documents\olympic_medal_analysis\Clean_gdp_.json"
gdp_output = gdp_file.to_json(gdp_json_output, indent = 1)

In [17]:
# Convert Pandas Lat Long Df to JSON
latlong_json_output = r"C:\Users\Lenovo\Documents\olympic_medal_analysis\countries_preprocessed.json"
latlong_output = c_file.to_json(latlong_json_output, indent = 1)

In [19]:
lat_file = pd.read_csv(r"C:\Users\Lenovo\Documents\olympic_medal_analysis\countries_preprocessed.csv")
lat_pop = pd.read_csv(lat_file)
lat_pop

NameError: name 'csv_lat' is not defined

In [18]:
# Read GDP Csv. 
csv_gdp = r"C:\Users\Lenovo\Documents\olympic_medal_analysis\countries_preprocessed.csv"
latlong_output = c_file.to_json(latlong_json_output, indent = 1)