In [2]:
# Import Dependencies
import pandas as pd

In [3]:
# Import our input dataset
data_df = pd.read_csv('Resources/gdp-per-capita-maddison-2020.csv')
GDP_per_capita_df = data_df.drop(columns=['145446-annotations'])
GDP_per_capita_df

            Entity Code  Year  GDP per capita
0      Afghanistan  AFG  1950         1156.00
1      Afghanistan  AFG  1951         1170.00
2      Afghanistan  AFG  1952         1189.00
3      Afghanistan  AFG  1953         1240.00
4      Afghanistan  AFG  1954         1245.00
...            ...  ...   ...             ...
19873     Zimbabwe  ZWE  2014         1594.00
19874     Zimbabwe  ZWE  2015         1560.00
19875     Zimbabwe  ZWE  2016         1534.00
19876     Zimbabwe  ZWE  2017         1582.37
19877     Zimbabwe  ZWE  2018         1611.41

[19878 rows x 4 columns]