In [1]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [4]:
olympic_df = pd.read_csv('CSV_In_Progress/Machine_Learning_dataset.csv')
olympic_df = olympic_df.drop(['Unnamed: 0'], axis=1)
olympic_df

,NOC,Year,Season,Host,athlete_count,Population,GDP per capita,Gold,Silver,Bronze,country_medal_total,olympic_total,medal_share
0,AFG,1960,Summer,0,13,8996967.0,1326.00,0.0,0.0,0.0,0.0,297.0,0.000000
1,ARG,1960,Summer,0,78,20481781.0,8861.00,0.0,1.0,1.0,2.0,297.0,0.006734
2,AUS,1960,Summer,0,201,10276477.0,14013.00,8.0,8.0,6.0,22.0,297.0,0.074074
3,AUT,1960,Summer,0,161,7047539.0,10391.00,1.0,1.0,0.0,2.0,297.0,0.006734
4,BEL,1960,Summer,0,103,9153489.0,11081.00,0.0,2.0,2.0,4.0,297.0,0.013468
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2498,TUR,2002,Winter,0,5,65145357.0,11753.95,0.0,0.0,0.0,0.0,234.0,0.000000
2499,UKR,2002,Winter,0,79,48202470.0,6262.98,0.0,0.0,0.0,0.0,234.0,0.000000
2500,USA,2002,Winter,1,232,287625193.0,46266.30,10.0,13.0,11.0,34.0,234.0,0.145299
2501,UZB,2002,Winter,0,6,25271850.0,4777.29,0.0,0.0,0.0,0.0,234.0,0.000000
2502,VEN,2002,Winter,0,4,25100407.0,12856.05,0.0,0.0,0.0,0.0,234.0,0.000000